#st-popup-container .st-popup-settings .st-option-pill {
    border:1px solid #cbcaca;
}
#st-popup-container .st-option-pill {
	position:relative;
    line-height: 24px;
    height: 24px;
    right: 0;
    top: 0;
    border-radius: 12px;
    cursor: pointer;
    background-color: #fff;
    white-space: nowrap;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}
#st-popup-container .st-option-pill span.st-option-first {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    left: 0 !important;
}
#st-popup-container .st-option-pill span.st-option-last {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    left: 66.7% !important;
}
#st-popup-container .st-option-pill span.st-option {
    content: '';
    width: 33.3%;
    position: absolute;
    left: 33.3%;
    background: transparent;
    text-align: center;
    font-size: 12px;
    z-index: 999;
    top: 0;
    line-height: 22px;
    height: 22px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #cbcaca;
    position: static;
    display: block;
    padding: 0 5px;
    white-space: nowrap;
    width: auto;
}
#st-popup-container .st-option-pill span.st-option-active {
    color: #fff;
    background: #DD2020;
}
