/* reset */
#st-popup-container *,
#st-popup-container *:before,
#st-popup-container *:after {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}
#st-popup-container abbr,
#st-popup-container address,
#st-popup-container article,
#st-popup-container aside,
#st-popup-container audio,
#st-popup-container b,
#st-popup-container blockquote,
#st-popup-container body,
#st-popup-container canvas,
#st-popup-container caption,
#st-popup-container cite,
#st-popup-container code,
#st-popup-container dd,
#st-popup-container del,
#st-popup-container details,
#st-popup-container dfn,
#st-popup-container div,
#st-popup-container dl,
#st-popup-container dt,
#st-popup-container em,
#st-popup-container fieldset,
#st-popup-container figcaption,
#st-popup-container figure,
#st-popup-container footer,
#st-popup-container form,
#st-popup-container h1,
#st-popup-container h2,
#st-popup-container h3,
#st-popup-container h4,
#st-popup-container h5,
#st-popup-container h6,
#st-popup-container header,
#st-popup-container hgroup,
#st-popup-container html,
#st-popup-container i,
#st-popup-container iframe,
#st-popup-container img,
#st-popup-container ins,
#st-popup-container kbd,
#st-popup-container label,
#st-popup-container legend,
#st-popup-container li,
#st-popup-container mark,
#st-popup-container menu,
#st-popup-container nav,
#st-popup-container object,
#st-popup-container ol,
#st-popup-container p,
#st-popup-container pre,
#st-popup-container q,
#st-popup-container samp,
#st-popup-container section,
#st-popup-container small,
#st-popup-container span,
#st-popup-container strong,
#st-popup-container sub,
#st-popup-container summary,
#st-popup-container sup,
#st-popup-container table,
#st-popup-container tbody,
#st-popup-container td,
#st-popup-container tfoot,
#st-popup-container th,
#st-popup-container thead,
#st-popup-container time,
#st-popup-container tr,
#st-popup-container ul,
#st-popup-container var,
#st-popup-container video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	vertical-align: baseline;
 	background-color: transparent;
}
#st-popup-container article,
#st-popup-container aside,
#st-popup-container canvas,
#st-popup-container details,
#st-popup-container figcaption,
#st-popup-container figure,
#st-popup-container footer,
#st-popup-container header,
#st-popup-container hgroup,
#st-popup-container menu,
#st-popup-container nav,
#st-popup-container section,
#st-popup-container summary {
 	display: block;
}
#st-popup-container address,
#st-popup-container cite,
#st-popup-container q,
#st-popup-container dfn {
 	font-style: normal;
}
#st-popup-container h1,
#st-popup-container h2,
#st-popup-container h3,
#st-popup-container h4,
#st-popup-container h5,
#st-popup-container h6 {
 	font-weight: normal;
 	line-height: 1;
}
#st-popup-container a,
#st-popup-container ins,
#st-popup-container del {
 	text-decoration: none
}
#st-popup-container q,
#st-popup-container blockquote {
 	quotes: none;
}
#st-popup-container th,
#st-popup-container td {
 	vertical-align: top;
}
#st-popup-container th {
 	text-align: left;
}
#st-popup-container nav li {
 	display: inline-block;
 	list-style: none;
 	position: relative;
}
#st-popup-container img {
 	display: block;
 	max-width: 100%;
 	height: auto;
	vertical-align:baseline;
}
#st-popup-container button,
#st-popup-container input,
#st-popup-container select,
#st-popup-container textarea {
 	margin: 0;
 	font-size: 100%;
 	vertical-align: middle;
}
#st-popup-container button,
#st-popup-container input {*overflow:visible;
 	line-height: normal;
}
#st-popup-container button::-moz-focus-inner,
#st-popup-container input::-moz-focus-inner {
 	padding: 0;
 	border: 0;
}
#st-popup-container button,
#st-popup-container html input[type="button"],
#st-popup-container input[type="reset"],
#st-popup-container input[type="submit"] {
 	-webkit-appearance: button;
 	cursor: pointer;
}
#st-popup-container textarea {
 	overflow: auto;
 	vertical-align: top;
}
#st-popup-container label,
#st-popup-container input,
#st-popup-container button,
#st-popup-container select,
#st-popup-container textarea {
 	font-size: 14px;
 	font-weight: normal;
 	line-height: 30px;
}
#st-popup-container input,
#st-popup-container button,
#st-popup-container select,
#st-popup-container textarea {
 	font-family: "Helvetica Neue",
#st-popup-container Helvetica,
#st-popup-container Arial,
#st-popup-container sans-serif;
}
#st-popup-container label {
 	display: block;
 	margin-bottom: 5px;
 	font-size: 16px;
}
#st-popup-container select,
#st-popup-container textarea,
#st-popup-container input[type="text"],
#st-popup-container input[type="password"],
#st-popup-container input[type="datetime"],
#st-popup-container input[type="datetime-local"],
#st-popup-container input[type="date"],
#st-popup-container input[type="month"],
#st-popup-container input[type="time"],
#st-popup-container input[type="week"],
#st-popup-container input[type="number"],
#st-popup-container input[type="email"],
#st-popup-container input[type="url"],
#st-popup-container input[type="search"],
#st-popup-container input[type="tel"],
#st-popup-container input[type="color"],
#st-popup-container .uneditable-input {
 	display: inline-block;
 	height: 30px;
 	padding: 5px;
 	margin-bottom: 10px;
 	font-size: 14px;
 	line-height: 1;
 	color: #555555;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 	vertical-align: middle;
 	width: 100%;
}
#st-popup-container textarea {
 	height: auto;
 	padding: 4px 6px;
}
#st-popup-container textarea,
#st-popup-container input[type="text"],
#st-popup-container input[type="password"],
#st-popup-container input[type="datetime"],
#st-popup-container input[type="datetime-local"],
#st-popup-container input[type="date"],
#st-popup-container input[type="month"],
#st-popup-container input[type="time"],
#st-popup-container input[type="week"],
#st-popup-container input[type="number"],
#st-popup-container input[type="email"],
#st-popup-container input[type="url"],
#st-popup-container input[type="search"],
#st-popup-container input[type="tel"],
#st-popup-container input[type="color"],
#st-popup-container .uneditable-input {
 	background-color: #ffffff;
 	border: 1px solid #cccccc;
 	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 	-webkit-transition: border linear .2s,
	box-shadow linear .2s;
 	-moz-transition: border linear .2s,
	box-shadow linear .2s;
 	-o-transition: border linear .2s,
	box-shadow linear .2s;
 	transition: border linear .2s,
	box-shadow linear .2s;
}
#st-popup-container textarea:focus,
#st-popup-container input[type="text"]:focus,
#st-popup-container input[type="password"]:focus,
#st-popup-container input[type="datetime"]:focus,
#st-popup-container input[type="datef-local"]:focus,
#st-popup-container input[type="date"]:focus,
#st-popup-container input[type="month"]:focus,
#st-popup-container input[type="time"]:focus,
#st-popup-container input[type="week"]:focus,
#st-popup-container input[type="number"]:focus,
#st-popup-container input[type="email"]:focus,
#st-popup-container input[type="url"]:focus,
#st-popup-container input[type="search"]:focus,
#st-popup-container input[type="tel"]:focus,
#st-popup-container input[type="color"]:focus,
#st-popup-container .uneditable-input:focus {
 	border-color: rgba(82, 168, 236, 0.8);
 	outline: 0;
 	outline: thin dotted \9;
 	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
 	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
 	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}
#st-popup-container input[type="radio"],
#st-popup-container input[type="checkbox"] {
    margin: 4px 0 0;
    *margin-top: 0;
    margin-top: 1px \9;
    line-height: normal;
    cursor: pointer;
}
#st-popup-container input[type="checkbox"] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
}
#st-popup-container input[type="file"],
#st-popup-container input[type="image"],
#st-popup-container input[type="submit"],
#st-popup-container input[type="reset"],
#st-popup-container input[type="button"],
#st-popup-container input[type="radio"],
#st-popup-container input[type="checkbox"] {
 	width: auto;
}
#st-popup-container select,
#st-popup-container input[type="file"] {
 	height: 30px;*margin-top:4px;
 	line-height: 1;
}
#st-popup-container select {
 	border: 1px solid #cccccc;
 	background-color: #ffffff;
}
#st-popup-container select[multiple],
#st-popup-container select[size] {
 	height: auto;
}
#st-popup-container select:focus,
#st-popup-container input[type="file"]:focus,
#st-popup-container input[type="radio"]:focus,
#st-popup-container input[type="checkbox"]:focus {
 	outline: thin dotted #333;
 	outline: 5px auto -webkit-focus-ring-color;
 	outline-offset: -2px;
}
#st-popup-container /* simple grid */,
#st-popup-container .row {
 	padding: 0;
 	margin-left: -1.5%;
 	margin-right: -1.5%;
}
#st-popup-container .row:before,
#st-popup-container .row:after {
 	content: " ";
 	display: table;
}
#st-popup-container .row:after {
 	clear: both;
}
#st-popup-container [class^="col"] {
 	float: left;
 	display: block;
 	padding: 0 1.5%;
}
#st-popup-container .col12 {
 	width: 100%;
}
#st-popup-container .col11 {
 	width: 91.66666666666666%;
}
#st-popup-container .col10 {
 	width: 83.33333333333334%;
}
#st-popup-container .col9 {
 	width: 75%;
}
#st-popup-container .col8 {
 	width: 66.66666666666666%;
}
#st-popup-container .col7 {
 	width: 58.333333333333336%;
}
#st-popup-container .col6 {
 	width: 50%;
}
#st-popup-container .col5 {
 	width: 41.66666666666667%;
}
#st-popup-container .col4 {
 	width: 33.33333333333333%;
}
#st-popup-container .col3 {
 	width: 25%;
}
#st-popup-container .col2 {
 	width: 16.666666666666664%;
}
#st-popup-container .col1 {
 	width: 8.333333333333332%;
}
#st-popup-container /* fixes for web popups */,
#st-popup-container h2 {
 	font-weight: inherit;
}
#st-popup-container br {
 	line-height: inherit;
}
#st-popup-container img,
#st-popup-container button {
 	height: auto;
 	text-transform: none;
}
